<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>index</title>
  <link rel="stylesheet" th:href="@{/css/board/index.css}">
</head>
<body>
<!--
 <th:block th:replace="~{/fragments/common/header :: headerFragment}"></th:block>

 -->
<div th:replace="~{fragments/common/header :: headerFragment}"></div>

<div class="container">
  <div class="board">
    <div class="board-con">
      Board
    </div>
  </div>
</div>

<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</body>
</html>